*{
    padding: 0;
    margin: 0;
}
.top{
    width: 100%;
    height: 90px;
}
.top2{
    width: 80%;
    height: 90px;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.topright{
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pop400{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
color: #1B1A1A;
}
.get{
    width: 25%;
    height: 46px;
    border-radius: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thehome{
    width: 100%;
    height: 720px;
    display: flex;
    flex-direction: row;

}
.lefthome{
    width: 50%;
    height: 720px;
    display: flex;
    background-color: ghostwhite;
    align-items: center;
    justify-content: center;
}
.homel{
    width: 90%;
    height: 566px;
    display: flex;
    flex-direction: column;
padding: 5% 5% 5% 5%;
gap: 20px;
}
.pop70{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 70px;
color: #1B1A1A;
}
.read{
    height: 46px;
    width: 23%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
}
.top-2{
    height: 782px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.firm{
    width: 54%;
    height: 582px;
    display: flex;
    flex-direction:row;
 
    justify-content: space-between;
}
.firmright{
    width: 65%;
    height: 582px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.step{
    width: 100%;
    height: 100px;
   display: flex;

}
.stepri{
    width:40% ;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pop14{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #645C55;
}
.img4{
    position: relative;
}
.reading{
position: absolute;
height: 600px;
left: 75%;
top: 0px;
display: flex;
flex-direction: column;
justify-content: center;
}
.how-full{
    width: 100%;
    height: 581px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.how{
    width: 84%;
    height: 381px;
    display: flex;
    flex-direction: column;

}
.how-top{
    width: 50%;
    height: 82px;
    margin: auto;
 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.how-under{
    width: 97%;
    height: 259px;
   
    display: flex;
    flex-direction: row;
}
.how1{
    width: 33%;
    height: 259px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.h{
    width: 60%;
    margin-top: 5%;
    text-align: center;
}
.happy-full{
    width: 100%;
    height: 410px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #403E3B;
}
.happy{
    width: 80%;
    height: 290px;
    display: flex;
    align-items: center;
}
.happy-left{
    width: 40%;
    height: 160px;
}
.happy-right{
    width: 37%;
    height: 290px;
    margin-left: 12%;


}
.c{
    color: white;
    margin-bottom: 3%;
}
.d{
    color: #ECE7E4;
}
.htop{
    width: 100%;
    height: 145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.swirling{
position: absolute;
height: 600px;
left: 4.17%;
top: 0px;
display: flex;
flex-direction: column;
justify-content: center;
}
.feafull{
    position: relative;
    width: 100%;
    height: 918px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7F7F7;
}
.fea{
    width: 80%;
    height: 698px;
  
    display: flex;
    flex-direction: column;
}
.featop{
    width: 50%;
    height: 112px;
}
.k{
    margin-top: 3%;
    color: #645C55;
}
.feaimg{
    width: 100%;
    height: 460px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.img1{
    width: 33%;
    height: 460px;
    position: relative;
}
.le{
    position: absolute;
    left: 8%;
   
}
.top8{
    top: 8%;
}
.t13{
    top: 13%;
}
.feaun{
    width: 35%;
    height: 46px;
    display: flex;
    position: absolute;
    background: #1B1A1A;
    border-radius: 14px;
    justify-content: center;
    align-items: center;
}
.to80{
    top: 80%;
}
.feaunder{
position: absolute;
    width: 15%;
    height: 46px;

    left: 42%;
    bottom: 15%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.meet-full{
    width: 100%;
    height: 592px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.meet{
    width: 80%;
    height: 392px;
    display: flex;

}
.meleft{
width: 33%;
height: 392px;

}
.meright{
width: 67%;
height: 392px;
display: flex;
flex-direction: column;
justify-content: space-between;

}
.q{
    margin-top: 10%;
    margin-left: 5%;
}
.stepme{
    width: 37%;
    height: 100px;
    display: flex;

}
.stepme2{
    width: 70%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line1{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.n{
    opacity: 0;
}
.think-full{
    width: 100%;
    height: 314px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CEC4BC;
}
.think{
    width: 80%;
    height: 114px;
    display: flex;
    display: flex;
 
    align-items: center;
}
.th-left{
    width: 50%;
    height: 100px;

}
.l{
    line-height: 42px;
}
.v{
    margin-left: 30%;
}
.under-full{
    width: 100%;
    height: 204px;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.under{
    width: 80%;
    height: 84px;
    display: flex;
}
.wish{
    width: 60%;
    height: 84px;
    display: flex;
    flex-direction: column;
}
.ikon{
    width: 10%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
    margin-top: 59px;
}